.section {
  padding: 10px 20px;
  text-align: center;
  outline: 1px solid rgba(255, 255, 255, 0.089);
  justify-content: center;
}

.profile {
  composes: section;
  width: 30vw;
  height: 45vh;
}

.statistics {
  composes: section;
  width: 30vw;
  height: 55vh;
}

.friendList {
  composes: section;
  width: 25vw;
  height: 100vh;
}

.transactions {
  composes: section;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  opacity: 0.5;
  margin-bottom: 12px;
}
